
body {
background-color:#571529;
}
h1 {
	background-color:#ffed19;
	font-size:25;
}
div {
	background-color:#ffee9e;
	font-size:20;
	font-family:sans-serif;
}
p {
	background-color: black;
	color:yellow;
}
button {
	font-size: 20;
	text-decoration: none;
	color: black;
	padding: 5px 20px;
	border: 1px solid transparent;
	transition: 0.6s ease; 
	font: left;
	width: 200px;
	height: auto;
}
}
